<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %>
  </div>
  <div class="field">
    <%= f.label :cuisine %><br>
    <%= f.text_field :cuisine %>
  </div>
  <div class="field">
    <%= f.label :private_dining %><br>
    <%= f.check_box :private_dining %>
  </div>
  <div class="field">
    <%= f.label :chefs_table %><br>
    <%= f.check_box :chefs_table %>
  </div>
  <div class="field">
    <%= f.label :min_people %><br>
    <%= f.number_field :min_people %>
  </div>
  <div class="field">
    <%= f.label :max_people %><br>
    <%= f.number_field :max_people %>
  </div>
  <div class="field">
    <%= f.label :buyout %><br>
    <%= f.check_box :buyout %>
  </div>
  <div class="field">
    <%= f.label :buyout_price %><br>
    <%= f.text_field :buyout_price %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email %>
  </div>
  <div class="field">
    <%= f.label :valet %><br>
    <%= f.check_box :valet %>
  </div>
  <div class="field">
    <%= f.label :full_bar %><br>
    <%= f.check_box :full_bar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
